IndentWidth: 4
AccessModifierOffset: -3
PointerAlignment: Left
IndentCaseLabels: true
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: true
  IndentBraces: false
Cpp11BracedListStyle: false
SpaceBeforeParens: Custom
SpaceBeforeParensOptions: 
  AfterOverloadedOperator: true
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: None
