Checks: >
  -*,
  bugprone-*,
  google-*,
  -google-readability-namespace-comments,
  -google-runtime-int,
  -google-runtime-references,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-*,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-goto,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,
