[user]
	name = jamiegibney
	email = jamiegibneyuk@gmail.com
[core]
	autocrlf = input
[http]
	postBuffer = 500M

[delta]
    theme = gruvbox-light
    syntax-theme = gruvbox-light
    side-by-side = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
